<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" th:href="@{/css/registrationstyle.css}">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Responsive Regisration Form </title>
    
    <style type="text/css">
    
    .container form{
    position: relative;
    margin-top: 16px;
    min-height: 300px;
    background-color: #fff;
    overflow: hidden;
}
.container form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}
.container form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}
form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}
form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
    </style> 
</head>
<body>
    <div class="container">
        <header>Registration</header>

        <form action="/patient/registration" method="post" th:object="${userObject}">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Personal Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Full Name</label>
                            <input type="text" placeholder="Enter your name" name="patientPersonalDetailsModel.fullname" required>
                        </div>

                        <div class="input-field">
                            <label>Date of Birth</label>
                            <input type="date" placeholder="Enter birth date" name="patientPersonalDetailsModel.dob" required>
                        </div>

                        <div class="input-field">
                            <label>Email</label>
                            <input type="text" placeholder="Enter your email" name="patientPersonalDetailsModel.gmail" required>
                        </div>

                        <div class="input-field">
                            <label>Mobile Number</label>
                            <input type="number" placeholder="Enter mobile number" name="patientPersonalDetailsModel.phonenumber" required>
                        </div>
                        <div class="input-field">
                            <label>Address</label>
                            <input type="text" placeholder="Enter your address" name="patientPersonalDetailsModel.address" required>
                        </div>



                        <div class="input-field">
                            <label>Gender</label>
                            <select name="patientPersonalDetailsModel.gender" required>
                                <option disabled selected>Select</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </div>

                      

                     

                       
                    </div>
                </div>

               <!--   <div class="details ID">-->
             <!--        <span class="title">Medical Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Height</label>
                            <input type="text" placeholder="Enter your height" name="patientMedicalDetailsModel.height"  required>
                        </div>

                        <div class="input-field">
                            <label>Weight</label>
                            <input type="number" placeholder="Enter your weight" name="patientMedicalDetailsModel.weight" required>
                        </div>

                        <div class="input-field">
                            <label>Gender</label>
                            <select name="patientMedicalDetailsModel.gender"required>
                                <option disabled selected>Select gender</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <label>Blood Pressure</label>
                            <input type="text" placeholder="Enter your B.P." name="patientMedicalDetailsModel.bloodpressure" required>
                        </div>

                        <div class="input-field">
                            <label>Bload Group</label>
                            <input type="text" placeholder="Enter your bload group" name="patientMedicalDetailsModel.bloodgroup" required>
                        </div>

                        <div class="input-field">
                            <label>Sugar Level</label>
                            <input type="number" placeholder="Enter your sugar level" name="patientMedicalDetailsModel.sugarlevel"  required>
                        </div>

                        
                      
                    </div>-->
                    
                    
                    
                   

                    

                   
                   
                       
                    
            
            

                    <div class="buttons">
                        
                        <button class="sumbit">
                            <span class="btnText">Submit</span>
                            <i class="uil uil-navigator"></i>
                        </button>
                    </div>
              <!--   </div> -->
            </div>
             <input type="hidden" th:field="*{id}">
             <input type="hidden" th:field="*{email}">
             <input type="hidden" th:field="*{password}">

            
        </form>
    </div>

</body>
</html>